# Ignore Python cache files, virtual environments, and logs
todaienv/
__pycache__/
*.log
.env


# Ignore compiled Python files
*.pyc
*.pyo

# Ignore VS Code and MacOS metadata files (if applicable)
.vscode/
.DS_Store



# Ignore data files containing secrets
data/*.json
secrets/
